*.png
*.jpg
*.jpeg
*.webp
art/
bionic/
bootable/
build/
cts/
dalvik/
developers/
development/
device/
docs/
external/
abi/
frameworks/testing/
frameworks/volley/
frameworks/av/
frameworks/base/NOTICE
frameworks/base/apct-tests/
frameworks/base/cmds/
frameworks/base/compiled-classes-phone
frameworks/base/data/
frameworks/base/docs/
frameworks/base/drm/
frameworks/base/keystore/
frameworks/base/legacy-test/
frameworks/base/libs/
frameworks/base/location/
frameworks/base/media/
frameworks/base/native/
frameworks/base/nfc-extras/
frameworks/base/obex/
frameworks/base/opengl/
frameworks/base/packages/
frameworks/base/preloaded-classes
frameworks/base/rs/
frameworks/base/samples/
frameworks/base/sax/
frameworks/base/test-runner/
frameworks/base/tests/
frameworks/base/tools/
frameworks/base/vr/
frameworks/base/wifi/
frameworks/compile/
frameworks/data-binding/
frameworks/ex/
frameworks/hardware/
frameworks/minikin/
frameworks/ml/
frameworks/multidex/
frameworks/native/
frameworks/opt/
frameworks/rs/
frameworks/support/
frameworks/webview/
frameworks/wilhelm/
hardware/
kernel/
libcore/
libnativehelper/
packages/
pdk/
platform_testing/
prebuilts/
sdk/
system/
test/
toolchain/
tools/
*/.git
.repo
frameworks/base/MODULE_LICENSE_APACHE2
frameworks/base/api/
frameworks/base/include/
frameworks/base/policy/
frameworks/base/voip/
frameworks/base/vpn/
ndk/
prebuilt/
